
@media only screen and (max-device-width: 1100px){
    body{
        padding: 0 5%;
    }
    #home{
        max-height: 90vh;
    }
    .reveal{
        scale: 1;
    }
    .bar{
        display:block;
        position: absolute;
        right:0;
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: inherit;
        animation: slideimg 1s;
    }
    .theme-btn{
        position: absolute;
        right: 50px;
        animation: slideimg 1s;
    }
    .nav-items{
       
        width: 0;
       height: 0;
       overflow: hidden;
       opacity: 0;
       transition: height .5s;
       padding: 10px 0;
       overflow: hidden;
       z-index: 10;

    }
    .nav-items ul{
       opacity: 0;
    }
    .active + .nav-items{
        display: flex;
        position: absolute;
        top: 7vh;
        width: 90vw;
        background-color: var(--uiclr);
        color: white;
        height: 300px;
        width: 90vw;
        opacity: 1;
        z-index: 10;
    }
    .active + .nav-items ul{
        height: auto;
        background-color:inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        opacity: 1;
        z-index: 29;
    }
    .nav-items ul li a:hover{
        color:white; 
    }



    body{
        padding: 0 5%;
    }

    #home{
        flex-direction:column-reverse;
    }

    .head-container{
     width: 50%;
     height: 100%;
}
.heading{
    margin-top: 10%;
    height:auto;
    /* background-color: aquamarine; */
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    gap:8px ;
}
.heading :nth-child(3){
    color:gray;
    font-size: medium;
}
.hide{
    display: inline-block;
    color: inherit;
}
.heading h1:first-child{
    display: none;
}

.heading span{
    color: inherit
}
.multiText{
    letter-spacing: 1px;
}
.multiText span{
    /* position: relative; */
    font-size: .7rem;  
    /* text-align: center; */
    top: -2px;
    /* font-weight:; */
    

    
}
.heading button{
    background-color: var(--uiclr);
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top:6%;
    cursor: pointer;
    transition: .2sec;
}

    .picture{
    width:100%;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-top: 40%;
    align-items: start;
}
.picture img{
    min-width: 200px;
    max-width: 400px;
}
.socials{
    /* background-color: antiquewhite; */
    height:20vh;
    width: 90vw;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.explore{
    position:relative;
    width: 90vw;
    top: 10px;
    z-index: -1;
}


/* -----------------about---------------------- */


#about{
    margin-top: 5vh;
    width: 80vw;
    /* height: 92vh; */
    height: auto;
}
.active .titles{
    display: flex;
    align-items: end;
    height:15%;
    justify-content: center;
    width: 90vw;
    font-size: 1.5rem;
    text-transform:uppercase;
    padding-bottom: 0px;

}
.titles span,.about-container span{
    color: var(--uiclr);
}
.active .titles::after{
    content: "";
    position:absolute;
    width: 80px;
    background-color:var(--uiclr);
    height: 2px;
    transition: width 1s;
    animation: line 2s;
}
@keyframes line {
    0%{
        width: 0px;
    }
    100%{
        width: 80px;
    }
    
}

.about{
    padding-top:20px;
    /* height: 80vh; */
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: column
}
.img-container{
    display: none;
}
.img-container img{
    display: none;
}
.about-container{
    /* height: 75vh; */
    height: auto;
    width: 100%;
    
}

.p-container{
    width: 100%;
    display: flex;
    align-items: start;
    max-height: auto;
    height: auto;
    /* font-size: 1rem; */
    letter-spacing: 0px;

}
.about-container div p{
    text-align: justify;
    width: 90VW;
    font-size: 14px;
    line-height :27px;
    
    
}


.btn-container{
    width: 90wv;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items:end;
    margin: 0;
}
.btn-container .button{
    width: 90vw;
    padding: 12px 30px;
}

/*-------------------Education-----------------------*/


.edu-container{
    margin-top: 4vh;
}
.edu-box{
    max-width: 600px;
}

@media only screen and (max-device-width: 900px){
    .edu-container{
        row-gap: 0vw;
    }
    .edu-box{
        width: 80vw;
        margin: 15px;
    }
    .edu-box:hover{
    /* box-shadow: 0px 0px 80px  var(--uiclr); */
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.171);
    }
    .edu-title{
    font-size: 1.15rem;

}

}
/* --------------------skills----------------------- */


#skills{
    margin-top: 10vh;
    /* height: 90vh; */
    height: auto;
    width: 90vw;
}
.skill-container{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:0;
    align-items: center;
    /* height: 30%; */
    height: auto;

    filter: blur(2);
}
.end{
    width: 90vw;
    /* height: 40vh; */
    height: auto;
    padding:10px;
    border-radius: 10px;

    /* border: 2px solid var(--uiclr); */
}
.end h1{
    font-size: .5rem;
    margin-bottom: 0px;
    text-align: center;
    padding:10;
    color: gray;
    background-color: transparent;
    z-index: -1;
}
.pch1{
    display: none;
}
.mobh1{
    display: block;
}
.skills-box{
 background-color:transparent;
 /* height: max; */
 height: auto;
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 3px;
 justify-content: space-around;
 align-items: center;
 
}
.skill{
    /* box-shadow: 0px 0px 8px gray; */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.174) ;
    margin: 0;
    width: 50px;
    height: 50px;
    padding: 5px 0;
    transition: .3s;
    animation: shake .5s infinite;
    border: 1px solid white;
}
.skill:hover{
    scale: 1.2;
    animation:  shake 0s;
}
.skill img{
    width: 30px;
    height: 30px;
}
.skill h2{
    font-size: .4rem;
}
@keyframes shake{
    0%{
        rotate: 2deg;
        
    }
    50%{
        rotate:-2deg;
       }
    100%{
        rotate: 2deg;
    }
}
/* ------------------projects----------------- */
.project-container{
    margin-top: 4vh;
}
.project:hover{
    scale: 1;
    /* box-shadow: 0px 0px 15px 3px var(--uiclr); */
}
.project:active{
    box-shadow: 0px 0px 200px var(--uiclr);
}

.more-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* width:80vw; */
}
.more-btn button{
    width: 80vw;
    height: 20px;
    font-size: 1rem;
    
}


/* -----------------------contact-------------------------- */

.contact-container{
    margin-top: 4vh;
    height: auto;
    flex-direction: column-reverse;
    width: 90vw;
    justify-content: center;
}
.left-side{
    margin: 30px 0;
    width: 100%;
    flex-direction: column;
    /* display: none; */
    height: 80px;
    overflow: scroll;
    /* margin-left: 20%; */
    overflow-x: hidden;
}
.left-side::-webkit-scrollbar{
    display: block;
}
.left-side::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color:inherit;
}

.left-side::-webkit-scrollbar
{
	width: 12px;
	background-color:inherit;
}

.left-side::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:var(--uiclr);
}
#no-anim{
    transform: translateY(0px);
    opacity: 1;
}
.right-side{
    width: 100%;
}
.input-container input{
    width: 100%;
}
.input-container textarea{
    width: 100%;
}
.details h1{
  font-size: 1rem;  
}
.details h1 i {
    font-size: 1.3rem;
}   
.details h3{
    font-size: 1rem;
    margin-left: 30px;
}
.footer-socials{
    display: flex;
    justify-content: center ;
    gap: 40px;
    margin-left: 35px;
    margin-bottom: 10px;
}
.footer-socials a{
    width: 0px;
    height: 0px;
    border: none;
    /* animation: bounce 2s infinite; */
    /* animation-delay: 1; */
}
.footer-socials a:nth-child(1){
    color:#3b5998;

    border-color: #3b5998;
    animation-delay: .1s;
}
.footer-socials a:nth-child(2){
    color:  #25D366;

    border-color: #25D366;
    animation-delay: .2s;
}
.footer-socials a:nth-child(3){
    color: #d62976;

    border-color: #d62976;
    animation-delay: .3s;
}
.footer-socials a:nth-child(4){
    /* color: #00acee;

    border-color: #00acee; */
    animation-delay: .4s;
}
.footer-socials a:nth-child(5){
    color: #FFFC00;
    border-color:black;
    animation-delay: .5s;
}
.footer-socials a:nth-child(6){
    color: #0A66C2;

    border-color: #0A66C2;
    animation-delay: .6s;
}
.footer-socials a:nth-child(7){
    /* color:  #171515; */
    animation-delay: .7s;
}
.footer-socials a:nth-child(8){
    color:  #c8232c;
    border-color: #c8232c;
    animation-delay: .8s;
    display: none;
}
.footer-socials a:nth-child(9){
    /* color:  #c4302b;

    border-color: #c4302b; */
    animation-delay: .9s;
}
.footer-socials a:nth-child(10){
    color:  #c4302b;

    border-color: #c4302b;
    animation-delay: .9s;
}
audio{
    opacity: .2;
    height: 10px;
    width: 200px;
    /* transform: rotate(-180deg); */
    scale: .1;
  }  /* display: none; */
}
/* @keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15px); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7px); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3px); }
    100% { transform:translateY(0); }
}
} */