:root {
  --uiclr:#6E57E0;
  --white: #fbfbfd;
  --black: #040c0e;
  --light-black: rgb(53, 50, 50);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Arial
}
html {
  scroll-behavior: smooth;
  
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color:inherit;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color:inherit;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:var(--uiclr);
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .7s ease;
    /* scale: .1; */
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
    /* scale: 1; */
}

body{
    background-color: var(--white);
    padding: 0 10%;
    color: var(--black);
    transition: 1s;
    /* transition: color 0.1s;   */
    overflow-x: hidden;
    
}
.dark-mode{
    background-color: var(--black);
    color: white;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: inherit;
    padding-right: 7vw;
    top: 0;
    z-index: 1000;
}
.logo{
    display: flex;
    width: 50vw;
    animation: slide 1s;
    
}

.logo a {
    color:inherit;
    text-decoration:none;
}
.nav-items{
    width: 50vw;
    display: flex;
    transition: height .5s;
}
.nav-items ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.1rem;
    font-weight: 600;
    flex-wrap: wrap;
}
.nav-items ul li{
    list-style: none;
    position: relative;
    animation: drop .5s;
    /* transform: translateY(50px); */
}
.nav-items ul li:nth-child(1){
    animation-delay: .1s;
}
.nav-items ul li:nth-child(2){
    animation-delay: .2s;
}
.nav-items ul li:nth-child(3){
    animation-delay: .3s;
}
.nav-items ul li:nth-child(4){
    animation-delay: .4s;
}
.nav-items ul li:nth-child(5){
    animation-delay: .5s;
}
.nav-items ul li a{
    text-decoration: none;
    color:inherit;
    transition: .2sec ;
}
.nav-items ul li a:hover{
    color: var(--uiclr);
}
.nav-items ul li a:active{
    color: var(--uiclr);
}
.theme-btn img{
    width: 24px;
}
.theme-btn {
    position: relative;
    background-color: transparent;
    border: none;
    margin-left: 3vw;
    cursor: pointer;
    animation: drop 1s ;
}
.bar{
    display: none;
}

/* --------------------------------------------- */

#home{
    display: flex;
    

}
.head-container{
     width: 50%;
     height: 100vh;
}
.heading{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 2.8rem;
    gap:8px ;
    letter-spacing: -1.6px;
}
.heading h1:first-child{
    animation: slide 1s;
    animation-delay: .2s;
}
.heading h1:nth-child(2){
    animation: slide 1s;
    animation-delay: .3s;
}
.heading h1:nth-child(3){
    animation: slide 1s;
    animation-delay: .4s;
}

.multiText{
    color: inherit;
    letter-spacing: -1.6px;
    transition: .2s;
}
.multiText span{
    position: relative;
    font-size: 2.7rem;  
    text-align: center;
    top: -7px;    
}
.name{
    color: var(--uiclr);
}
.hide{
    display: none;
}
.button{
    background-color: var(--uiclr);
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .2sec;
    animation: slide 1s;
    animation-delay: .5s;
}
.button:hover{
    background-color: #5e43e4;
}
.heading .button{
    margin-top:6%;
}
.socials{
    font-size: 1.5rem;
    height: 10%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;
}
.socials a{
    color: inherit;
    animation: drop 1.6s;
}
.socials a:nth-child(2){
    animation-delay: .1s;
}
.socials a:nth-child(3){
    animation-delay: .2s;
}
.socials a:nth-child(4){
    animation-delay: .3s;
}
.socials a:nth-child(5){
    animation-delay: .4s;
}
.socials a:nth-child(6){
    animation-delay: .5s;
}
.socials a:nth-child(7){
    animation-delay: .6s;
}
.socials i{
    transition: .2s;

}
.socials i:hover{
    transform: scale(1.3);
}
.explore{
    position: relative;
    top: -5vh;
    width: 80vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    animation: scroll 2s infinite alternate;

}
.explore a{
    color: inherit;
}
.picture{
    width: 50%;
    /* background-color: antiquewhite; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp{
   display: flex;
   align-items: center;
   flex-direction: column;
   animation: slideimg 1.6s;

}
.dp img{
    width: 70%;
    max-width: 700px;
    min-width: 400px;
    border-radius: 70% 30% 46% 54% / 36% 29% 71% 64% ;
    /* transition: 5s; */
    animation: blob 4s ease-in-out infinite alternate-reverse;
    filter: drop-shadow(0px 0px 10px #6E57E0 );


}

.dp img:hover{
    border-radius: 65% 30% 30% 70% / 60% 40% 60% 40%;
}




/* -------------------------about--------------------------------- */

#about{
    margin-top: 5vh;
    width: 80vw;
    max-height: 100vh;
    margin-bottom: 10vh;
}
.active .titles{
    display: flex;
    align-items: end;
    height: 20%;
    justify-content: center;
    width: 80vw;
    font-size: 2.3rem;
    text-transform:uppercase;
    padding-bottom: 10px;

}

.titles span,.about-container span{
    color: var(--uiclr);
}
.active .titles::after{
    content: "";
    position:absolute;
    width: 150px;
    background-color:var(--uiclr);
    height: 2px;
    transition: width 1s;
    animation: line 2s;
    z-index: -1;
}
@keyframes line {
    0%{
        width: 0px;
    }
    100%{
        width: 150px;
    }
    
}
.about{
    padding-top: 20px;
    /* height: 80vh; */
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content:center;
}
.img-container{
    padding-top:15px;
    /* height: 75vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}
.img-container img{
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2x;
}
.about-container{
    /* max-height: 75vh; */
    width: 48%;
    
}
.about-container::-webkit-scrollbar{
    display: none;
}
.p-container{
    display: flex;
    /* justify-content: start; */
    align-items: start;
    max-height: 74%;
    /* max-height:53vh; */
    overflow-y: scroll;
    letter-spacing: 1.1px;
    line-height: 27px;
    font-family: 'Dancing Script', cursive;

}
.p-container::-webkit-scrollbar{
    display: none;
}
.about-container div p{
    text-align: justify;
    width: 40vw;
    font-size: 1rem;
    /* font-family: 'Caveat'; */
}
.p-container p a , .p-container p span {
    text-decoration: none;
    color: var(--uiclr);
    font-weight: 500;
}
.btn-container{
    margin-top: 25px;
    display: flex;
    align-items:end;
}
.btn-container .button{
    padding: 12px 30px;
}
/*-------------------Education-----------------------*/

.edu-container{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2vw;
    column-gap: 1vw
}
.edu-box{ 
    position: relative;
    display: flex;
    width: 30vw;
    max-width: 570px;
    min-width: 330px;
    max-height: 250px;
    flex-direction: row;
    /* box-shadow: 0px 0px 12px 0px gray; */
    box-shadow: 2px 4px 16px rgba(0,0,0,.16);
    border-radius: 8px;
    transition: .5s;
    margin: 30px;
    padding: 10px;
    border: 1px solid white;
   
}
.edu-box:hover{
    /* box-shadow: 0px 0px 200px  var(--uiclr); */
    box-shadow: 2px 4px 16px rgba(0,0,0,.16);
    transform: scale3d(1.01,1.01,1.01);
}
.edu-icon{
    margin-top: 3px;
    width: 10%;
    height: 100%;
    color: white;
}
.edu-icon i{
    background-color: var(--uiclr);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}
.edu-icon p{
    width: 1px;
    height: 90px;
    background-color: rgba(128, 128, 128, 0.3);
    position: relative;
    left: 17px;
    top: 0px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
}
.edu-details{
    width:90%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
.edu-year span{
    background-color: rgba(141, 139, 139, 0.459);
    padding: 0 10px;
    border-radius: 10px;
}
.edu-title{
    font-size: 1.3rem;
    letter-spacing: 0px;
    font-weight: 500;
    opacity: .8;
}
.edu-desc a{
    color: gray;
    letter-spacing: 0px;
    font-weight: 500;
    text-decoration: none;
}

/* --------------------skills----------------------- */

#skills{
    height: 100vh;
    width: 80vw;
}
.skill-container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content:space-bet;
    gap: 5vh;
    align-items:center;
    height: 80%;
    /* flex-wrap: wrap; */
    /* background-color: cadetblue; */

}
.end{
    width: 54vw;
    height: 20vh;
    /* background-color:rgba(110, 87, 224, 1); */
    padding:5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    overflow: hidden;

}
.end h1{
    font-size: 1.1rem;
    color: gray;
    width: 5%;
    text-align: center;
    /* background-color: rgba(128, 128, 128, 0.233); */
    /* box-shadow: 0 0 6px 1px var(--uiclr); */
    rotate: 180deg;
    height: auto ;
    writing-mode: vertical-lr;
    vertical-align:middle;
    padding: 10px 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;

}
.mobh1{
    display: none;
}
.skills-box{
 height: 130px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 align-items: center;
 border-bottom-right-radius: 10px;
 border-top-right-radius: 10px;
}
.skill{
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 5px;
    z-index: -1;
    box-shadow: 0 0 1000px var(--uiclr);
}
.skill img{
    width: 70px;
    height: 70px;
    
}
.skill h2{
    margin-top: 5px;
    font-size: 1rem;
}
.outline{
   background-color: white;
   border-radius: 50%;
}


/* -------------------------projects------------------------------ */


#projects{
padding: 75px 0;
/* height: max; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.project-container{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    flex-wrap: wrap;
    gap: 30px;
    

}
.project{
    /* height: 300px; */
    width: 300px;
    /* border: 1px solid var(--uiclr); */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 16px 0px gray; */
    box-shadow: 2px 4px 16px rgba(0,0,0,.16);
    border: 1px solid white;
    transition: .5s;
}
.project:hover{
    /* scale: 1.05; */
    /* box-shadow: 0px 0px 200px  var(--uiclr); */
    /* transform: scale3d(1.03,1.03,1.03); */
     box-shadow: 2px 4px 16px rgba(0,0,0,.3);
}
.project h1{
    font-size: 1rem;
    text-align: center;
    opacity: .8;
    /* margin-bottom: 5px; */
    z-index: -1;
     transition: .1s;
}
.project div{
    display: flex;
    justify-content: center;
    align-items: start;
    /* height: 70%; */
    padding: 5px;
    margin-bottom: 2px;
}
.project div img,iframe{
    /* margin: 3px; */
    width: 100%;
    height: 170px;
    /* box-shadow: 0px 0px 1px ; */
    /* border: 1px solid rgb(194, 191, 191); */
    border-radius: 8px;
}
.project p{
    margin: 8px;
    transition: .1s;
}
.language{
    background-color: rgba(139, 138, 138, 0.248);
    padding: 0px 2px;
    font-size: .9rem;
    border-radius: 3px;
    margin: 5px;
}
.project .action-container{
    /* background-color: #5e43e4; */
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin-bottom: 8px;
}
.action-container a{
    width: 48%;
}
 .action-container a button{
    padding: 8px 10px;
    width: 100%;
    background-color: var(--uiclr);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-container button i{
    color: inherit;
    background-color:inherit;
}
.more-btn{
    margin-top: 30px;
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: end;
    /* background-color: red; */
    height: 5vh;
    padding: 0 10px;
}
.more-btn a button{
    height: 100%;
    padding: 5px 10px;
    background-color: var(--uiclr);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.more-btn a button:hover{
    background-color: #5a47ba;
}


/* -----------------------------contact------------------------------------ */

.contact-container{
    width: 80vw;
    /* height: 80vh; */
    display: flex;
    justify-content: space-around;
    margin-top: 0vh;

}
.left-side{
    width: 38%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
    padding: 5% 10%;
}
.left-side a{
    text-decoration: none;
    color: inherit;
}

.details h1 i{
    font-size: 1.8rem;
    position: relative;
    top: 10px;
    margin-right: 10px;
    color: var(--uiclr);
    
    
}
.details h3{
    margin-left:38px;
    color: gray;
    font-weight: 400;
}
.details h1{
    font-weight:500;
}
.right-side{
    padding: 4.8% 1%;
    width: 58%;
}
.input-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.input-container input{
    width: 80%;
    height: 45px;
    border-radius: 10px;
    border:none;
    outline: 2px solid gray;
    background-color: inherit;
     color: inherit;
     padding: 0 5px ;
    font-size: 1rem;
}
.input-container textarea{
    width: 80%;
    border-radius: 10px;
    border:none;
    outline: 2px solid gray;
    background-color: inherit;
    color: inherit;
    padding:5px ;
    font-size: 1rem;
}
.input-container textarea::placeholder,.input-container input::placeholder{
    font-size: 1rem;
}
.input-container input:focus, .input-container textarea:focus{
    outline: 3px solid var(--uiclr);
    /* border: 1px solid var(--uiclr); */
}
.input-container button{
    width: 150px;
    height: 45px;
    background-color: var(--uiclr);
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    border:none;
    transition: .5s;
    text-align: center;
    font-weight: 500;
}
.input-container button:hover{
    background-color: #5a47ba;
}
/* ------------------------footer------------------------------ */

footer{
    width: 80vw;
    margin-bottom: 3vh;

}
.footer-socials{
    display: flex;
    justify-content: center ;
    gap: 25px;
}
.footer-socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--uiclr);
    border-radius: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    transition: .5s;
}
.footer-socials a:hover{
    transform: translateY(-10px);
}
.footer-socials a:nth-child(1):hover{
    background-color:#3b5998;
    color: white;
    border-color: #3b5998;
}
.footer-socials a:nth-child(2):hover{
    background-color:  #25D366;
    color: white;
    border-color: #25D366;
}
.footer-socials a:nth-child(3):hover{
    background-color: #d62976;
    color: white;
    border-color: #d62976;
}
.footer-socials a:nth-child(4):hover{
    background-color: #212324;
    color: white;
    border-color:white ;
}
.footer-socials a:nth-child(5):hover{
    background-color: #FFFC00;
    color: black;
    border-color: #FFFC00;
}
.footer-socials a:nth-child(6):hover{
    background-color: #0A66C2;
    color: white;
    border-color: #0A66C2;
}
.footer-socials a:nth-child(7):hover{
    background-color:#171515;
    color: white;
    border-color: white;
}
.footer-socials a:nth-child(8):hover{
    background-color:  #c8232c;
    color: white;
    border-color: #c8232c;
}
.footer-socials a:nth-child(9):hover{
    background-color:#171515;
    color: white;
    border-color: white;
}
.footer-socials a:nth-child(10):hover{
    background-color:  #c4302b;
    color: white;
    border-color: #c4302b;
}
audio{
    opacity: 1;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright p{
    color: gray;
    font-size: small;
}
.copyright .made{
    position: relative;
    bottom: 1;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    background-color: inherit;
    color: var(--uiclr);
    font-weight: bold;
}
.made i{
    color: red;
}


/* --------------------loader---------------------------- */
.boxes {
	 --size: 32px;
	 --duration: 800ms;
	 height: calc(var(--size) * 2);
	 width: calc(var(--size) * 3);
	 position: relative;
	 transform-style: preserve-3d;
	 transform-origin: 50% 50%;
	 margin-top: calc(var(--size) * 1.5 * -1);
	 transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
 .boxes .box {
	 width: var(--size);
	 height: var(--size);
	 top: 0;
	 left: 0;
	 position: absolute;
	 transform-style: preserve-3d;
}
 .boxes .box:nth-child(1) {
	 transform: translate(100%, 0);
	 animation: box1 var(--duration) linear infinite;
}
 .boxes .box:nth-child(2) {
	 transform: translate(0, 100%);
	 animation: box2 var(--duration) linear infinite;
}
 .boxes .box:nth-child(3) {
	 transform: translate(100%, 100%);
	 animation: box3 var(--duration) linear infinite;
}
 .boxes .box:nth-child(4) {
	 transform: translate(200%, 0);
	 animation: box4 var(--duration) linear infinite;
}
 .boxes .box > div {
	 --background: #5c8df6;
	 --top: auto;
	 --right: auto;
	 --bottom: auto;
	 --left: auto;
	 --translateZ: calc(var(--size) / 2);
	 --rotateY: 0deg;
	 --rotateX: 0deg;
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 background: var(--background);
	 top: var(--top);
	 right: var(--right);
	 bottom: var(--bottom);
	 left: var(--left);
	 transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}
 .boxes .box > div:nth-child(1) {
	 --top: 0;
	 --left: 0;
}
 .boxes .box > div:nth-child(2) {
	 --background: #145af2;
	 --right: 0;
	 --rotateY: 90deg;
}
 .boxes .box > div:nth-child(3) {
	 --background: #447cf5;
	 --rotateX: -90deg;
}
 .boxes .box > div:nth-child(4) {
	 --background: #dbe3f4;
	 --top: 0;
	 --left: 0;
	 --translateZ: calc(var(--size) * 3 * -1);
}

 html {
	 -webkit-font-smoothing: antialiased;
}
 * {
	 box-sizing: border-box;
}
 *:before, *:after {
	 box-sizing: border-box;
}
 #loader {
	 min-height: 100vh;
	 font-family: Roboto, Arial;
	 color: #adafb6;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: #f9fbff;
}
#loader .dribbble {
	 position: fixed;
	 display: block;
	 right: 20px;
	 bottom: 20px;
}
#loader .dribbble img {
	 display: block;
	 height: 28px;
}
 
/* * {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50% ,-50%);
    transition: 5s;
    width: auto;
    height: 100vh;
} */